*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 1%;
    padding-top: 1%;
    text-align: justify;
    top: 0%;
}

h2{
    margin-top: 0%;
    padding: 0%;
    font-family: monospace;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.6)), url(blur1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

table{
    width: 600px;
    box-shadow: -1px 12px 12px -6px rgba(0,0,0,0.5);
}

table,td,th{
    padding: 20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    cursor: pointer;
}
td{
    font-size: 18px;
}
th{
    background-color: blue;
    color: white;
    cursor: pointer;
}

tr:nth-child(odd){
    background-color: lightskyblue;
}
tr:nth-child(odd):hover{
    background-color: lightgreen;
    color: white;
    transform:scale(1.2);
    transition: transform 300ms ease-in;
}

tr:nth-child(even){
    background-color: #ededed
}
tr:nth-child(even):hover{
    background-color: lightgray;
    transform:scale(1.2);
    transition: transform 300ms ease-in;
}